/***** Colors *****/
/*
Dark: #0D0D0D
Light: #F2F0EB
Baby Blue: #C1D4D9
Light Green: #68828C
Dark Green: #4D6873
*/

/***** Font *****/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 62.5%;
	background-color: #F2F0EB;
}


/***** START: Navigation Bar *****/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 70px;
	padding: 0px 30px;
	background-color: #0D0D0D;
}

.title-container {
	display: flex;
	align-items:center;
	height: 100%;
	border-right: 1px solid rgba(192,211,216,.2);
}

.title {
	font-size: 1.35rem;
	color: rgba(250,255,255,.95);
	font-weight: normal;
	line-height: 1.5rem;
	padding: 15px 30px 15px 0px;
}

#search-container {
	flex-basis: 60%;
	margin: 0 auto;
	padding-left: 30px;
	position: relative;
}

.search-icon {
	position: absolute;
	top: 50%;
}

.search-icon img {
	transform: translateY(-50%);
	padding-left: 12px;
}

#search {
	width: 100%;
	border-radius: 30px;
	padding: .5rem 36px;
	color: #636C6E;
	font-size: 1rem;
	border: 2px solid rgba(192,211,216,.35);
	background-color: rgba(192,211,216,.2);
	transition-duration: .5s;
}

#search:focus {
	background-color: rgba(255,255,255,1);
}

.color-bar {
	background-color: #C1D4D9;
	width: 100vw;
	height: 4px;
}
/***** END: Navigation Bar *****/

/***** START: Sorting Bar *****/
.sort-bar {
	width: 80vw;
	height: 30px;
	/* background-color: #C1D4D9; */
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #68828C;
}

#sort {
	display: flex;
	align-items: center;
}

.sort-title {
	padding-right: 1rem;
}

#sort label {
	align-self: center;
	padding: 0 1.5rem 0 .25rem;
	font-size: .8rem;
}

#clear {
	display: flex;
	align-items: center;
	padding: 12px;
	margin-top: -3px;
	background-color: #fa8379;
	border: none;
	border-radius: 2px;
	font-size: .8rem;
	color: rgba(250,255,255,.95);
	box-shadow: 2px 2px 1px rgba(0,0,0,.2);
	transition-duration: .2s;
}

#clear:hover {
	background-color: #ff7365;
}

#clear:active {
	box-shadow: none;
}
/***** END: Sorting Bar *****/
