body {
  width: 130px;
  /* width: 100%; */
}
.dropdown {
  position: relative;
  display: inline-block;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.header {
  height: 25%;
}

.header-text {
  float: right;
  padding-right: 18px;
  padding-bottom: 4px;
}

.add {
  background-color: #4caf50; /* Green */
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
}

#add:hover {
  background-color: green;
}
