#total {
  font-style: italic;
  font-size: 18px;
  /* text-align: center; */
  padding-left: 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#edit-form {
  display: none;
}

footer {
  bottom: 10px;
  position: absolute;
}
